.DragNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  background: #ffdeeb;
  border-radius: 10px;
  h6 {
    height: 30px;
    font-size: 30px;
    font-weight: 400;
  }
}
